<% if current_user.approved? %>
<ul class="nav nav-tabs honey">
    <li class="active"><a href="#tab1" data-toggle="tab">Active Jobs</a></li>
    <li><a href="#tab2" data-toggle="tab">Upcoming Opportunities</a></li>
		<li><a href="#tab3" data-toggle="tab">Work History</a></li>
		<li><a href="#tab4" data-toggle="tab">Account Info</a></li>
		<li><a href="#tab5" data-toggle="tab">Update Account</a></li>
  </ul>
	
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>Job ID</th>
					<th>Date</th>
					<th>Time</th>
					<th>Est. Hours</th>
					<th>Location</th>
					<th>Work Type</th>
					<th>Description</th>
					<th>Beekeeper</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
				<% @active_jobs.each do |j| %>
				<tr>
					<td><%= j.id %></td>
					<td><%= j.date_time.strftime("%D")%></td>
					<td><%= j.date_time.strftime("%l:%M %P")%></td>
					<td><%= j.estimated_hours %></td>
					<td><%= j.address_1 + " " + j.address_2 + " " + j.city + ", " + j.state %></td>
					<td><%= j.work_type %></td>
					<td><%= j.description %></td>
					<td><%= j.users.where("role = ?", "Keeper").first.first_name + " " + j.users.where("role = ?", "Keeper").first.last_name %></td>
					<td><%= number_to_phone(j.users.where("role = ?", "Keeper").first.phone, area_code: true) %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
    </div>
		
    <div class="tab-pane" id="tab2">
	    <div class="tab-pane active" id="tab1">
	      <table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>Job ID</th>
						<th>Date</th>
						<th>Time</th>
						<th>Est. Hours</th>
						<th>Location</th>
						<th>Work Type</th>
						<th>Description</th>
						<th>Accept</th>
					</tr>
				</thead>
				<tbody>
					<% @opportunities.each do |j| %>
					<% if j.users.count < j.workers + 1 %>
					<tr>
						<td><%= j.id %></td>
						<td><%= j.date_time.strftime("%D")%></td>
						<td><%= j.date_time.strftime("%l:%M %P")%></td>
						<td><%= j.estimated_hours %></td>
						<td><%= j.city + ", " + j.state %></td>
						<td><%= j.work_type %></td>
						<td><%= j.description %></td>
						<td><%= link_to "Accept", job_accept_job_path(j), method: :put %>
					</tr>
					<% end %>
					<% end %>
				</tbody>
				</table>
	    </div>
    </div>
		
    <div class="tab-pane" id="tab3">
      <table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>Job ID</th>
					<th>Date</th>
					<th>Time</th>
					<th>Actual Hours</th>
					<th>Work Type</th>
					<th>Description</th>
					<th>Pay Amount</th>
					<th>Paid</th>
				</tr>
			</thead>
			<tbody>
				<% @work_history.each do |j| %>
				<tr>
					<td><%= j.id %></td>
					<td><%= j.date_time.strftime("%D")%></td>
					<td><%= j.date_time.strftime("%l:%M %P")%></td>
					<td><%= j.actual_hours %></td>
					<td><%= j.work_type %></td>
					<td><%= j.description %></td>
					<td>$<%= j.actual_hours * current_user.pay_level rescue "N/A" %></td>
					<td>
						<% if j.paid? %>
							Yes
						<% else %>
							<% if j.actual_hours != nil %>
								Pending...
							<% else %>
								<%= link_to "Get Paid", edit_job_path(j) %>
							<% end %>
						<% end %>
						</td>
				</tr>
				<% end %>
			</tbody>
			</table>
					
    </div>
			
    <div class="tab-pane" id="tab4">
			<table class="table table-striped table-hover">
				<tbody>
					<% @work_history.each do |j| %>
				<tr>
					<th>Jobs Completed</th>
					<td><%= @work_history.count %></td>
				</tr>
				<tr>
					<th>Amount Paid to Date</th>
					<td>$<%= j.actual_hours * current_user.pay_level rescue "N/A" %></td>
				</tr>
				<tr>
					<th>Hours worked</th>
					<td><%= j.actual_hours %></td>
				</tr>
				<tr>
					<th>Average Hourly Rate</th>
					<td>$<%= (j.actual_hours * current_user.pay_level)/j.actual_hours rescue "0" %></td>
				</tr>
				<tr>
					<th>Current Pay Level</th>
					<td>$<%= current_user.pay_level %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
			
			<legend>Payment History</legend>
					
    </div>
		
    <div class="tab-pane" id="tab5">
			<%= form_for @user, :url => url_for(:controller => 'users', :action => 'update') do |f| %>
			<h4>Update your work preference</h4>
			<div class="form-inline">
				<label>School</label>
				<%= f.select :school, ['UNC Chapel Hill','UNC Wilmington'] %>
			</div>
			<br>
			<div class="form-horizontal">
				<label>Do you have access to a car?</label>
				<label><%= f.radio_button :drive, true %> Yes</label>
				<label><%= f.radio_button :drive, false%> No</label>
			</div>
			<br>
			<div class="form-horizontal">
				<label>What type of jobs are you interested in doing? <small>(Select all that apply)</small></label>
				<label><%= f.check_box :work_type_moving %> Moving</label>
				<label><%= f.check_box :work_type_cleaning %> Cleaning</label>
				<label><%= f.check_box :work_type_painting %> Painting</label>
				<label><%= f.check_box :work_type_yard %> Yard Work</label>
				<label><%= f.check_box :work_type_it %> IT Help</label>
				<label><%= f.check_box :work_type_tutor %> Tutoring</label>
				<label><%= f.check_box :work_type_babysit %> Babysitting</label>
				<label><%= f.check_box :work_type_event %> Event Help</label>
				<label><%= f.check_box :work_type_errands %> Household Errands</label>
				<label><%= f.check_box :work_type_maintenance %> Maintenance</label>
			</div>
			<br>

			<h4>Update Address</h4>
			<div class="form-horizontal">
				<label>Address Line One</label>
				<%= f.text_field :address_1, placeholder: "Address Line One" %>
				<label>Address Line Two</label>
				<%= f.text_field :address_2, placeholder: "Address Line Two" %>
			</div>
			<br>
			<div class="form-horizontal">
				<label>City</label>
				<%= f.text_field :city, placeholder: "City" %>
				<label>State</label>
				<%= f.text_field :state, placeholder: "State" %>
				<label>Zip_Code</label>
				<%= f.text_field :zip_code, placeholder: "Zip code" %>
			</div>
			<br>
			<div><%= f.submit "Update" %></div>

			<% end %>
      
    </div>
		
  </div>
	
	<% else %>

	Thank you for your interest in becoming a Worker Bee! Someone will contact you shortly to set up an interview.
	
	<% end %>