<!DOCTYPE html >
<link rel="stylesheet" style="text/css" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" />
<html>
<head>
  <title>Hired Hive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<a href="/" class="brand">
		    <%= image_tag("hive_yellow_small.png") %> Hired Hive</a>
		    <ul class="nav pull-right">
		      <li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Sign Up", new_user_registration_path if !user_signed_in? %></li>
					<li><%= link_to "Log Out", destroy_user_session_path, {:method => "DELETE"} if user_signed_in? %></li>
		    </ul>
		  </div>
		
	</div>
	<div>
<%= yield %>
</div>
<div class="footer" >
    <p style="padding-left: 10px; padding-top: 30px;">Copyright © 2013 Hired Hive, Inc.</p>
</div>


</body>
</html>
